---
layout: project-page-layout
title: Projects
menu-item: Projects
permalink: /projects/
---

  {% include secondary-header.html %}
    <p class="projects-intro">This is a collection of web projects I have worked on over the past few years. This ranges from web design, static site creation or email design and development. More to come.</p>
    {% assign sorted = site.projects | sort: 'year' | reverse %}
    {% for project in sorted %}
        <div class="project-card {{project.class}}">
          <img class="project-image" src="{{project.image}}"/>
          <div class="project-intro">
            <h3 class="project-title">{{project.title}}</h3>
            <div class="project-type">
              <p>
                {{project.type}}
              </p>
              <div class="project-info">           
                  <h5><a href="{{ project.url | relative_url }}">Go to Project</a></h5>
              </div>
              <p class="project-year">
                {{project.year}}
              </p>
            </div>            
          </div>
        </div>
  {% endfor %}
