---
layout: main-layout
title: Projects
menu-item: Projects
permalink: /projects/

---
   <h1>{{page.title}}</h1>
    <p class="projects-intro">This is a collection of web projects I have worked on over the past few years. This ranges from web design, static site creation or email design and development. More to come.</p>
    <section class="projects-container">
      {% assign sorted = site.projects | sort: 'year' | reverse %}
      {% for project in sorted %}
          <div class="project-card {{project.class}}">
            {% comment %}
            <div class="">
                <img src="{{project.image}}" class="project-image">
            </div>
            {% endcomment %}
            <div class="project-type">
              <h3 class="project-title">{{project.title}}</h3>
              <p class="project--preview">{{project.preview}}</p>
                <p class="project-category">
                  {{project.type}}
                </p>
                {% if project.post-date != null %}
                <p class="project-year">
                  <p>Posted on: {{project.post-date}}</p>
                </p>
                {% endif %}
                <a class="project-link" href="{{ project.url | relative_url }}">View Project</a>
              </div>            
          </div>
    {% endfor %}
    </section>
   
