{% comment %}
  <section class="location">
    <img class="svg" src="{{ "/assets/img/location.svg" | relative_url }}">
      <p class="city">Madison, WI</p>
  </section>
{% endcomment %}

<section class="footer">
  <div class="logo footer-logo">
      <img class="logo-img" src="/assets/img/logo-v2.svg">
  </div>
  {% comment %}
  <div class="social-icons">
    <img class="svg" src="{{ "/assets/img/github.svg" | relative_url }}">
    <img class="svg" src="{{ "/assets/img/instagram.svg" | relative_url }}">
    <img class="svg" src="{{ "/assets/img/linkedin.svg" | relative_url }}">
    {% comment %}
      <img class="svg" src="{{ "/assets/img/pdf.svg" | relative_url }}">
    {% endcomment %}
  </div>
  {% endcomment %}
</section>
  