<header class="site-header hidden-menu" id="site-header" role="banner">
  <section class="title-town">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>
    <p class="position-title">Web Developer | Designer</p>
    <p>
      <img src="/assets/img/location.svg" width="18px" height="18px"/>Madison, WI
    </p>
    <section class="navigation">
      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.menu-item %}
      <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu-item | escape }}</a>
      {% endif %}
      {% endfor%}
    </section>
  </section>
</header>
