<header class="navigation-container" id="navigation-display-hook" role="banner">
  <img  class="topo-header" src="/assets/img/SVG/topographic-header-480.svg" width="100%"">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <section class="navigation">
    <div class="logo">
      <a href="/">
        <img class="logo-img" src="/assets/img/logo-v2.svg">
      </a>
    </div>
    <div class="menu-list-container">
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.menu-item %}
            {% if my_page.title != "home"%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu-item | escape }}</a>
            {% endif %}
          {% endif %}
        {% endfor%}
    </div>
  </section>
</header>
<script>


var navContainer = document.querySelector('.navigation-container');
var navBG = document.querySelector('.topo-header');
var navWidth = navContainer.clientWidth;


function calcHeight() {
  
  
  console.log( "W = " + navWidth);
  navHeight = navWidth * .1875;
  console.log( "H = " + navHeight);

  if(navContainer.clientWidth < 660) {
    navBG.src = "/assets/img/SVG/topographic-header-480.svg";
  } else {
    navBG.src = "/assets/img/SVG/topographic-header-v1.svg";
  }

  if(navContainer.clientWidth > 1200) {
    
  navContainer.style.height = navHeight + "px";
  }
  else {
    navBG.style.height = "30rem";
    navContainer.style.height = "30rem";
  }
}


window.addEventListener('load', calcHeight);

window.addEventListener('resize', calcHeight);

</script>
