

/*Home Page project display*/
.project-container {
  display: flex;
  flex-direction: column;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}




/**
 * Page content
 */


.page-heading {
  font-size: 3rem;
  font-weight: 700;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {

  letter-spacing: -1px;
  line-height: 1;


}
