/*Typography*/
h1 {
  font-size: 3.25rem;
  line-height: 4.25rem;
  font-weight: bold;
  padding-top: .5rem;
  margin-bottom:1rem;
  font-family: 'Rubik', sans-serif;

  @include sm {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  @include md {
    line-height: 4.75rem;
    font-size: 3.75rem;
  }

  @include lg {
    line-height: 5rem;
    font-size: 4rem;
    padding-top: 2.4rem;
    margin-bottom:2.8rem;
  }
}

h2 {
  font-size:2.2rem;
  //font-family: 'Permanent Marker', cursive;
  //font-family: 'Rufina', serif;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;

  max-width: 56ch;

  @include sm {
    font-size: 2.4rem;
  }

  @include md {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }  
}

h3 {
  font-size:1.8rem;
  line-height: 2.6rem;
  //font-family: 'Rufina', serif;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;

  @include sm {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1.4rem;
  }


}

h4 {
  font-size:1.6rem;
  //font-family: 'Overpass', sans-serif;
  //font-family: 'Oxygen', sans-serif;
  font-family: 'Karla', sans-serif;

}

h5 {
  font-size:1.4rem;
  //font-family: 'Overpass', sans-serif;
  //font-family: 'Oxygen', sans-serif;
  font-family: 'Rubik', sans-serif;
}

h6 {
  font-family: 'Karla', sans-serif;
  font-size:1.2rem;
  //font-family: 'Overpass', sans-serif;
  //font-family: 'Oxygen', sans-serif;
}

%font-base {
  font-family: 'Karla', sans-serif;
  font-size:1.6rem;
  line-height: 1.24;
}

p {
  //font-family: 'Karla', sans-serif;
  font-size:1.6rem;
  line-height: 2.8rem;
  max-width: 56ch;
  margin-bottom: 1.8rem;

  @include sm {

  }

  @include md {

  }

  @include lg {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 4rem;
  }
}

.lede {
  font-size: 2.65rem;
  line-height: 1.6;
}

%menu-type {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;

  &-small {
    font-size: 1.2rem;
  }
} 

/**
 * Links
 */
 a,
 %base-link-style {
  color: $text-darker;
  text-decoration: none;
  border-bottom: .4rem solid $color3;
  box-shadow: inset 0 -8px 0 $color3;

  &:hover {
    color: $text-dark;
    text-decoration: none;
    background-color: $color3;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


h1 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 9.5367431640625rem;
  line-height: 12rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h2 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 4.8828125rem;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h3 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 3.90625rem;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h4 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 3.125rem;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h5 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  h6 {
  margin-bottom: 3rem;
  font-family: Oswald;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  p {
  margin-bottom: 3rem;
  font-family: Lora;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  
  @media screen and (max-width: 720px) {
  h1 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 4.8828125em;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  h2 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 3.90625em;
  line-height: 5.2rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  h3 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 3.125em;
  line-height: 5.2rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  h4 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 2.5em;
  line-height: 2.6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  h5 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 2em;
  line-height: 2.6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  h6 {
  margin-bottom: 2.6rem;
  font-family: Oswald;
  font-size: 2em;
  line-height: 2.6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  }
  p {
  margin-bottom: 2.6rem;
  font-family: Playfair Display;
  font-size: 1.6em;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  }
  }