.article-data {
  margin-bottom: 2rem;
}

.article {
  @extend %font-base;

  &--title,
  &--start-page,
  &--end-page {
    border-bottom: 1px solid $brand-dark-accent;
    padding-top: 1rem;
  }

  &--title{
    width: 200ch;
  }

  &--start-page,
  &--end-page {
    width:10ch;
    text-align:right;
  }

}

.table-headings {
  text-align: left;
  @extend %font-base;
}
