.navigation-container {
  grid-column: main-content / span 4;
  grid-row: navigation;
}

.navigation {
  padding: $spacing-unit 0;
  display: flex;
  flex-direction: row;
  
  .menu-list-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .page-link {
    padding: 1.5rem $spacing-unit;
    color: $black70;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;
    font-size: 1.4rem;
    @extend %menu-type;

    &:hover {
      color: $color3;
    }
  }
}

.logo {
  flex-grow: 1;

  .logo-img {
    width: 50px;
  }
}