
/* Home page Display Cards*/



  .project-card {
      height: auto;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      padding: 6rem 2rem 6rem 2rem;
      border-top: 4px solid $brand-third;
      margin-top: 4rem;
      
  
  
    &:hover {
      .project-intro {
        
        //background-color: $brand-first;
      }
    }

    .project-image {
      width:auto;
      transition: transform .2s;
      margin: 0;
      margin-right: 6rem;
    }

    .project-title {
      flex-grow: 1;
    }

    .project-intro {
      position: absolute;
      transition: transform .4s;
      width: 100%;
      padding: 2rem;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      
      .project-year {
        color: $brand-first;
      }
      .project-category {
      
          color: $brand-fourth;
        
      }
      .project-title {
        font-weight: 700;
        color: $neutral-white;
        margin-bottom: .5rem;
        font-size: 2rem;
        line-height:2rem;

        &:hover{
            text-decoration: none;
           color: darken($brand-first, 20%);
        }
      }
      .project-year {
        color: $brand-first;
        font-size: 1.5rem;
        font-style: italic;
        text-align: right;
        align-self: flex-end;
        
      }
    }

    .project-info {
         
      p {
        font-size: 1.2rem;
      }

      h5 {

        a {
          color: $heading-accent;
        }
      }
    }
  }

// Project page


.project-content {

  img {
    max-width: 100%;
  }
}


