
/* Home page Display Cards*/



  .project-card {
    height: 20rem;
    position: relative;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    justify-content: center;
    @include border-shadow;

    &:hover {
      .project-intro {
        
        //background-color: $brand-first;
      }
      .project-image {
        transform: scale(1.5);
      }
      .project-info {
        display:block;
      }
    }

    .project-image {
      width:25rem;
      height: 20rem;
      -webkit-filter: brightness(60%); /*This Filter Darkens the image without having to create an overlay for the text to stand our more. Adjust this with 100%. 0% will be a black image 100% will be completely white.*/
      filter: brightness(20%);
      transition: transform .2s;
      margin: 0;
    }

    .project-intro {
      position: absolute;
      transition: transform .4s;
      width: 100%;
      padding:2rem;


      .project-type,
      .project-year {
        line-height:1.6rem;
        color: $brand-fourth;
      }
      .project-title {
        font-weight: 700;
        color: $neutral-white;
        margin-bottom: .5rem;
        font-size: 2rem;
        line-height:2rem;

        &:hover{
            text-decoration: none;
           color: darken($brand-first, 20%);
        }
      }
      .project-year {
        color: $brand-first;
        font-size: 1.5rem;
        font-style: italic;
      }
    }

    .project-info {
      display:none;
      //position:absolute;
      //z-index: 10;
     // top: 0;
      //background-color: $brand-first;
      color: $text-dark;
      height: 100%;
      width: 100%;
    
      p {
        font-size: 1.2rem;
      }

      h5 {

        a {
          color: $heading-accent;
        }
      }
    }
  }

// Project page

.project-content {

  img {
    max-width: 100%;
  }
}
