/* Home page Display Cards*/

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  width: 30%;
  overflow: hidden;
  padding: 2rem;
  background-color: $brand-dark-accent; 
  margin-top: 4rem;
  border-radius: 5px;

  &:hover {
    .project-intro {
      //background-color: $brand-first;
    }
  }

  .project-image {
    max-width: 100%;
    width: auto;
    height: auto;
    transition: transform 0.2s;
    margin: 0;
    position: relative;
  }

  .project-type {
    position: relative;
    z-index: 2;
    margin-top: 0;
  }
  .project-title {
    flex-grow: 1;
  }

  .project-intro {
    position: absolute;
    transition: transform 0.4s;
    width: 100%;
    padding: 2rem;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: $off-white;
  }

  .project-year {
    color: $off-white;
  }

  .project-category {
    color: $off-white;
  }

  .project--preview {
    color: $off-white;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .project-link {
    color: $off-white;  
  }

  .project-title {
    font-weight: 700;
    color: $off-white;
    margin-bottom: 2.4rem;
    font-size: 2rem;
    line-height: 2rem;

    &:hover {
      text-decoration: none;
      color: darken($brand-first, 20%);
    }
  }
  .project-year {
    color: $brand-first;
    font-size: 1.5rem;
    font-style: italic;
    text-align: right;
    align-self: flex-end;
  }

  .project-info {
    p {
      font-size: 1.2rem;
    }

    h5 {
      a {
        color: $heading-accent;
      }
    }
  }
}

// Project page

.project-content {
  img {
    max-width: 100%;
  }
}
