.project-link {
  text-decoration: none;
}

// Project Page Layout
// See HTML in _layouts/project.html
.project-page {
  grid-column: main-content / span 4;
  grid-row: main-row;
  
  .project-header {

    .project-title {
      font-weight:bold;
    }
  }
  .project-body {
    
    p {
      line-height: 2rem;
      margin-bottom: $spacing-unit;
    }
  }
}