.ui-container {
  display: grid;
  grid-template-rows: 3fr 1fr auto;
  grid-template-areas:
    "input input output"
    "recipe recipe output"
    "buttons buttons output";
  background-color: $body-bg;
  margin-bottom: 4rem;
  grid-template-columns: minmax(auto, 66%) minmax(auto, 33%);
  border-radius: 4px;
}

.inverse-text-color * {
  color: $color4;
}

.input-element {
  max-width: 32rem;
}

.recipe--item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid $brand-primary;
}

.buttons {
}

.macros {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  justify-content: space-between;
  flex-basis: 100%;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 2rem;
}

.macro {
  font-size: 1.4rem;
}

.food--name {
  flex: 1 1 auto;
}
.food--delete {
  width: 5rem;
  text-align: center;
}

.recipe--input {
  display: flex;
  grid-area: input;
  padding: 2rem;
  flex-direction: column;
}

.recipe--buttons {
  grid-area: buttons;
  padding: 1rem;
}

.recipe--output {
  grid-area: output;
  border-radius: 0 4px 4px 0;
  background-color: $black70;
}

.recipe--nutrition-label {
  padding: 2rem;

  * {
    color: $color4;
  }
}

.macros,
.nutrition-outputs {
}

.recipe--macros {
  .macro {
    color: $color4;
  }
}

.food-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

.food-item {
  margin: 1rem;
  width: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $brand-first;
  flex-grow: 1;

  .food-name {
    color: $brand-fourth;
    text-transform: capitalize;
  }

  .kcal-serving,
  .kcal,
  .fats,
  .carbs,
  .protein {
    margin-bottom: 0;
    color: $brand-fourth;
  }

  .kcal-serving {
    font-size: 1.2rem;
    font-style: italic;
  }

  &:hover {
    background-color: $brand-primary;

    .food-name,
    .kcal-serving,
    .kcal,
    .fats,
    .carbs,
    .protein {
      color: #fff;
    }
  }
}

.food-stat-output {
  padding: 2rem;
  background-color: $brand-secondary;
  min-height: 15rem;
  border-radius: 0.5rem;

  .stat {
    margin-bottom: 0.5rem;
  }
}

.recipe-builder {
  padding: 2rem;
}

.recipe--ingredient {
  display: flex;
  flex-direction: row;
}
