.site-colors {
  display: flex;
  flex-direction: row;
  // max-width: 60rem;
  flex-wrap:wrap;
  justify-content: space-between;
}

.style-guide-color {
  flex: 0 0 auto;
  
  .color--block {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
}

.color--hex,
.color--variable {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.var,
.hex {
  // color: $brand-fourth;
}

.triangle {
  
  
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    
    border-left: 1.5rem solid $brand-secondary;
    border-radius: 1px;

}
.color-name {
  font-weight: bold;
}

.brand-first{
  background-color: $brand-first;
  content: $brand-first;
}

.brand-secondary {
  background-color: $brand-secondary;
}

.brand-third {
  background-color: $brand-third;
}

.brand-fourth {
  background-color: $brand-fourth;
}

.brand-dark-accent {
  background-color: $brand-dark-accent;
}

.brand-light-accent {
  background-color: $brand-light-accent;
}