.site-colors {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  flex-wrap:wrap;
}

.style-guide-color {
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-name {
  font-weight: bold;
}

.brand-primary {
  background-color: $brand-primary;
  
  .color-name,
  .color-hex {
    color: $brand-fourth;
  }
}

.brand-secondary {
  background-color: $brand-secondary;
}

.brand-third {
  background-color: $brand-third;

  .color-name,
  .color-hex {
    color: $brand-fourth;
  }
}

.brand-fourth {
  background-color: $brand-fourth;
}

.brand-dark-accent {
  background-color: $brand-dark-accent;

  .color-name,
  .color-hex {
    color: $brand-fourth;
  }
}