<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="app home-page">
    <h1 class="me">Joel Gamble</h1>
    <h2 class="welcome-friend">Welcome to my personal website.</h2>
    {% include navigation.html %}
    <div class="menu-icon" id="menu-icon">
      <!--<img  class="menu-img" src="assets/img/menu-icon.svg"/>-->
    </div>
    <div class="introduction-copy">      
      {{content}}
    </div>
    {% include footer.html %}
  </body>
  {% for js in page.jsarr %}
     <script type="text/javascript">
     {% include {{ js }} %}
     </script>
 {% endfor %}
</html>
