<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="app home-page">
    <!--{% include header.html %}-->
    <!--<script src="/assets/js/sticky-header.js"></script>-->
    <h1 class="me">Joel Gamble</h1>
    <h2 class="welcome-friend">Welcome to my personal website.</h2>
    <div class="introduction-copy">      
      <p>This is a culmination of my work on the web. I also keep some of my sandbox projects here where I like to test out new features and learn. My main focus is as a web design and developer, but I also do video editing from time to time.</p>
      <p>Professionally, I maintain web sites for my employer, Springs Window Fashions. This includes managing product ordering experiences and workflows, desiging new landing pages and implementing UI features.</p>
    </div>
  </body>
</html>
